<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Care Connect</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
		<script src="/js/datecheck.js"> </script>
			    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container form-inline">
				<a class="navbar-bar" href="#" th:href="@{/}"><img src="/img/new_ok.png" class="d-inline-block align-top" alt="" /></a>

			<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
												<div class="pull-right padding-top">
			    <a sec:authorize="isAuthenticated()" class="form-control btn btn-primary" href="#" th:href="@{/admin}">Back to doctors</a>

				<a sec:authorize="isAuthenticated()" class="btn btn-danger" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>
	</nav>

<br>
<br>
<br>
<br>

<div class="container">
		<h1>CareConnect - Admin</h1>
		Welcome <span sec:authentication="principal.username">User</span>
	</div>
	<!-- Create HTML registration form -->
	<div class="container my-2">
		<div class="row">
			<div class="col-md-6">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully added Doctor
						to our CareConnect !</div>
				</div>

				<h2>Add Doctor</h2>

				<form th:action="@{/admin/save-doctor}" method="post" th:object="${doctor}">
					<div class="form-group">
						<label class="control-label" for="firstName"> First Name </label>
						<input id="firstName" class="form-control" th:field="*{firstName}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="lastName"> Last Name </label> <input
							id="lastName" class="form-control" th:field="*{lastName}"
							required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="dateOfBirth"> Date Of Birth </label> <input
							id="dateOfBirth" class="form-control" th:field="*{dateOfBirth}" name="dateOfBirth" th:value="${dateOfBirth}"
							required autofocus="autofocus" type="date" onclick="restrictMaxDate(this)"/>
					</div>
					
				
				<div class= "form-group">
					<label class="control-label" for="gender"> Gender </label>
				<div th:each="gender : ${genderEnums}">
  <input name="gender" type="radio" th:value="${gender}" th:field="*{gender}" th:text="${gender}" required autofocus="autofocus"/>
				</div>
</div>
					
					<div class="form-group">
						<label class="control-label" for="phone"> Phone </label> <input
							id="phone" class="form-control" th:field="*{phone}"
							required autofocus="autofocus"pattern="\d{10}" type="tel" />
					</div>
					
					<div class= "form-group">
					<label class="control-label" for="spec"> Specialization </label>
				<div th:each="spec : ${specEnums}">
  <input name="spec" type="radio" th:value="${spec}" th:field="*{specialization}" th:text="${spec}" required autofocus="autofocus"/>
				</div>
</div>
					
					
					<div class="form-group">
						<label class="control-label" for="email"> Email </label> <input
							id="email" class="form-control" th:field="*{user.email}"
							required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label for="password">Password</label>: <input type="password"
							id="password" name="password" class="form-control"
							placeholder="Enter Password" th:field="*{user.password}" required autofocus="autofocus"/>
					</div>
					
					<div class="form-group">
						<label for="password">Confirm Password</label>: <input type="password"
							id="confirmPassword" name="confirmPassword" class="form-control"
							placeholder="Confirm Password" th:field="*{user.confirmPassword}" required autofocus="autofocus"/>
					</div>


					<div class="form-group">
						<button type="submit" class="btn btn-success">Add Doctor</button>
						<!--<span>Already registered? <a href="/patients/register" th:href="@{/login}">Login
								here</a></span>-->
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>