<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>CareConnect - Admin Dashboard</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container form-inline">
										<a class="navbar-bar" href="#" th:href="@{/}"><img src="/img/new_ok.png" class="d-inline-block align-top" alt="" /></a>

			<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
								<div class="pull-right padding-top">

				<!--<a sec:authorize="isAuthenticated()" class="navbar-brand" href="#" th:href="@{/}">CareConnect</a>-->
				<!--<a sec:authorize="isAuthenticated()" class="navbar-brand" href="#" th:href="@{/login}">Home</a>-->
<!--				<a class="navbar-brand" href="#" th:href="@{/admin/add-doctor}">Add Doctor</a>-->
				<a sec:authorize="isAuthenticated()" class="form-control btn btn-primary" href="#" th:href="@{/admin/add-doctor}">Need to add a Doctor?</a>
				<a sec:authorize="isAuthenticated()" class="btn btn-danger" href="#" th:href="@{/logout}">Logout</a>
				
			</div>
			
			
			
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>

	<div class="container">
		<h1>CareConnect - Admin</h1>
		Welcome <span sec:authentication="principal.username">User</span>
	</div>
		
	<div class="container my-2">
		<h2>Doctor List</h2>
	
			<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>First Name
					</th>
					<th>Last Name
					</th>
					<th>
					
							Date Of Birth
					</th>
						<th>
						
							 Gender
					</th>
					<th>
						
							 Specialization
					</th>
					<th> Actions </th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="doc : ${doctors}">
					<td th:text="${doc.firstName}"></td>
					<td th:text="${doc.lastName}"></td>
					<td th:text="${#dates.format(doc.dateOfBirth, 'MM/dd/yyyy')}"></td>
					<td th:text="${doc.gender}"></td>
					<td th:text="${doc.specialization}"></td>
					<td> 						<a  class="btn btn-primary" disabled>Update</a>
					<a th:href="@{/doctors/delete/{id}(id=${doc.doctorId})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
			</div>
</body>
</html>